<!-- <%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%> -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="assets/css/styles.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<title>TVM | Cadastrar Passagem</title>
</head>
<body>
	<main>
		
		<!-- <jsp:include page="../../components/menu.jsp">
			<jsp:param name="home" value="./index.jsp" />
			<jsp:param name="destinos" value="destinos" />
			<jsp:param name="promocoes" value="promocoes" />
			<jsp:param name="contato" value="contato" />
			<jsp:param name="clientes" value="cliente-consultar" />
			<jsp:param name="compras" value="compra-consultar" />
			<jsp:param name="passagens" value="passagem-consultar" />
		</jsp:include> -->

		<div class="container">
			<div class="topnav responsive nav-container" id="myTopnav">
			  <a class="img"><img id="logo" src="img/logo.png" alt="agenciadeviagens" /></a>
			  <a href="index.html">Home</a>
			  <a href="destino.html">Destinos</a>
			  <a href="promocoes.html">Promoções</a>
			  <a href="contato.html">Contato</a>
			  <a href="clientes.html">Clientes</a>
			  <a href="compras.html">Compras</a>
			  <a href="passagens.html" class="active">Passagens</a>

			</div>
		
		<div class="container py-3">
            <form method="post" th:object="${passagem}">
	            <h2 class="text-center">Cadastrar Passagem</h2>
	            <input type="hidden" th:field="*{idPassagem}">

				<div class="form-group mb-3">
					<label for="ciaAerea" class="form-label"> ciaAerea </label>
					<input type="text" class="form-control" id="ciaAerea" th:field="*{ciaAerea}" required>
				</div>
	            
	            <div class="form-group mb-3">
					<label for="origem" class="form-label"> origem </label>
					<input type="text" class="form-control" id="origem" th:field="*{origem}" required>
				</div>
	            
	            <div class="form-group mb-3">
					<label for="destino" class="form-label"> destino </label>
					<input type="text" class="form-control" id="destino" th:field="*{destino}" required>
				</div>
	            
	            <div class="form-group mb-3">
					<label for="valor" class="form-label"> valor </label>
					<input type="number" class="form-control" id="valor" th:field="*{valor}" required>
				</div>
	
	            <button type="submit" class="btn btn-primary">Enviar</button>
				<a href="/passagens" class="btn btn-danger" style="margin-left: 10px"> Cancelar </a>
            </form>
        </div>
		
    </main>
    
	<footer class="bg-dark text-white text-center py-3">
		<b>&copy; 2023 - TVM Agência de Viagens</b>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>