<!-- <%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="jstl"%>
 -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="./assets/img/book-2-fill.svg" type="image/svg" />
<link rel="stylesheet" href="assets/css/styles.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<title>TVM | Compras</title>
</head>
<body>
	<main>

		<!-- <jsp:include page="../../components/menu.jsp">
			<jsp:param name="home" value="./index.jsp" />
			<jsp:param name="destinos" value="destinos" />
			<jsp:param name="promocoes" value="promocoes" />
			<jsp:param name="contato" value="contato" />
			<jsp:param name="clientes" value="cliente-consultar" />
			<jsp:param name="compras" value="compra-consultar" />
			<jsp:param name="passagens" value="passagem-consultar" />
		</jsp:include> -->

		<div class="container">
			<div class="topnav responsive nav-container" id="myTopnav">
			  <a class="img"><img id="logo" src="img/logo.png" alt="agenciadeviagens" /></a>
			  <a href="index.html">Home</a>
			  <a href="destino.html">Destinos</a>
			  <a href="promocoes.html">Promoções</a>
			  <a href="contato.html">Contato</a>
			  <a href="clientes.html">Clientes</a>
			  <a href="compras.html" class="active">Compras</a>
			  <a href="passagens.html">Passagens</a>

			</div>

		<section class="container">

			<div class="p-4">
				<a th:href="@{compras/cadastrar}" class="btn btn-primary mb-2 botao1"> Nova Compra </a>
				<table class="table table-responsive table-hover">
					<thead class="table-dark">
						<tr>
							<th scope="col">idCompra</th>
							<th scope="col">idCliente</th>
							<th scope="col">idPassagem</th>
							<th scope="col">formaPgto</th>
							<th scope="col">valorTotal</th>
							<th scope="col">Ações</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="compra : ${compras}">

							<td th:text="${compra.idCompra}"></td>
							<td th:text="${compra.idCliente}"></td>
							<td th:text="${compra.idPassagem}"></td>
							<td th:text="${compra.formaPgto}"></td>
							<td th:text="${compra.valorTotal}"></td>
		
		
							<td>
		
								<a th:href="@{/compras/{idCompra}/editar (id=${compra.idCompra})}"
									class="btn btn-secondary btn-edit mb-1">
									Editar
								</a>
								<a th:href="@{/compras/{idCompra}/excluir (id=${compra.idCompra})}" class="btn btn-danger btn-edit mb-1"
									onclick="return confirm('Tem certeza que deseja excluir a compra?');">
									Excluir
								</a>
							</td>
		
						</tr>

					</tbody>
				</table>
			</div>
		</section>
	</main>
	
	<footer class="bg-dark text-white text-center py-3">
		<b>&copy; 2023 - TVM Agência de Viagens</b>
	</footer>
	
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"></script>
</body>
</html>